{{page-title "Dummy"}}

<div data-test="md-block">
{{! MD-BLOCK }}
# Hello

| Header  | Another header |
|---------|----------------|
| field 1 | something      |
| field 2 | something else |

{{! MD-BLOCK }}
</div>

<h2 id="title">Welcome to Ember</h2>

{{outlet}}